<!doctype html>
<html>
    <link rel="stylesheet" href="/eliza/static/style.css">
    <link rel="javascript" href="/eliza/static/script.js">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/eliza/static/script.js"></script>

    {% if name %}


    <h2>
        Hello {{name}}, {{date}}.
    </h2>
    <ol id="chat_box">
    </ol>
    <body>
        <p>Chat input: 
           <input type = "text" name = "text_input" id = "chat_text">
           <input type = "submit" value = "submit" id = "chat_button"/>
        </p>
    </body>


    {% else %}


    <h2>
        Hello.
    </h2>
    <body>
        <form action = "http://130.245.168.104/eliza/" method = "POST">
            <p>Name 
                <input type = "text" name = "name" />
                <input type = "submit" value = "submit" />
            </p>
        </form>
    </body>


    {% endif %}


</html>
