<!doctype html>
<html>
    <body>
        {% if success is defined %}
            {% if success  %}
                <p>Register Success!</p>
            {% else %}
                <p>Register failed!</p>
            {% endif %}
        {% else %}
        <form action = "/login/" method = "POST">
            <p>Username:  
                <input type = "text" name = "username" /><br>
               Password: 
                <input type = "text" name = "password" /><br />
                <input type = "submit" value = "submit" />
            </p>
        </form>
        {% endif %}
    </body>
</html>
